<p id="notice"><%= notice %></p>
<h1><%= @doi.name%>'s Url History</h1>

<!-- this table use to be in app/views/urls/index.html.erb -->
<table>
  <thead>
      <tr>
        <th>Url</th>
        <th>Description</th>
        <th>Doi</th>
        <th>Time Created</th>
        <th colspan="3"></th>
    </tr>
  </thead>
<% if !@result.nil? %>
  <% @result.each do |line| %>
      <%= line %>
      <br>
  <% end %>
<% end %>

  <tbody>
    <% @doi.urls.each do |url| %>
      <% if !url.new_record? %>
      <tr>
        <td><%= url.url %></td>
        <td><%= url.description %></td>
        <td><%= url.doi %></td>
        <td><%= url.created_at %></td>
        <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to "Edit #{@doi.name}", edit_doi_path(@doi) %> |
<%= link_to 'Show all Dois', dois_path %>
