<!DOCTYPE html>
<html>
<head>
  <title>Img</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
<br>
<strong><h1>Kong's Social Image Network</h1></strong>

<div class="container">
  <ul class="nav navbar-right">
    <div id="user_nav">
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, class: 'btn btn-mini btn-success',  method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-mini btn-success' %>  
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-mini btn-success' %>
    <% end %>
  </ul>
   </div>
</div>
</div>
<%= yield %>

</body>
</html>
