<div class="row">
  <nav class="top-bar column" data-topbar>
 
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
             Store
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>
 
      <section class="top-bar-section">
        <ul class="right">
          <li><%= render 'layouts/search' %></li>
          <li><%= link_to "#{current_order.order_items.size} Items in Cart ( #{number_to_currency current_order.subtotal} )", cart_path, class: "btn btn-link" %></li>
<% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <li><%= link_to "Sign out", destroy_user_session_path, class: 'btn btn-mini btn-success',  method: :delete %></li>
    <% else %>
     <li> <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-mini btn-success' %></li>
      <li><%= link_to "Sign in", new_user_session_path, class: 'btn btn-mini btn-success' %></li>
    <% end %>
        </ul>
      </section>
 
    </nav>
</div>
