<p id="notice"><%= notice %></p>
<p>
  <strong>Public:</strong>
  <%= @image.public %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag root_url + "/images/" + @image.filename, size: "100x100", alt: @image.filename %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
